body {
    background-color: #A4A1C9;
}
h1 {
    font-size: 5em;
}
.subtitulo {
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
#titulo_especial {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}
.menu-superior {
    height: 200px;
    background-color: #1D2159;
}
.menu-superior ul {
    display: inline-block;
}
.menu-superior ul li a{
    text-decoration: none;
    color: white;
}
.menu-superior ul li a:hover{
    text-decoration: none;
    color: white;
    font-size: 3em;
}